@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(229, 209, 182);
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    
}
.mother-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    flex-wrap: nowrap;
    height: 70vh;
}
.card{
    width: 30%;
    background-color: #f5f5f5;
    margin: 10px 30px;
    height: auto;
    box-shadow: 0 3rem 6rem rgb(0 0 0 /10%);
}
.card:hover{
    transform: scale3d(1.1);
}
img{
    width: 100%;
    height: 40%;
}
h2{
    margin: 20px 5px 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 500;
}
p{
    margin: 0 20px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 300;
}

button{
    color: #3363ff;
    background-color: #e6ecff;
    width: 80%;
    margin: 10px 40px 80px;
    border: #e6ecff;
    border-radius: 2px;
}
button:hover{
    transform: scale(1.1);
    color: #1f1f20;
}


@media only screen and (max-width : 820px) {
    .mother-card{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 35px;
        flex-wrap: wrap;
        height: 70vh;
    }
    .card{
        width: 100%;
        background-color: #f5f5f5;
        height: auto;
       
       
    }
    img{
        width: 100%;
        height: 40%;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 700;
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: larger;
        font-size: 700;
    }
    
    button{
        color: #3363ff;
        background-color: #e6ecff;
        padding: 10px ;
        width: 80%;
        margin: 10px 40px 50px;
    }
}
@media only screen and (min-width : 821px) {
    .mother-card{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35px;
        flex-wrap: nowrap;
        height: 90vh;
    }
    .card{
        width: 100%;
        background-color: #f5f5f5;
        height: 60vh;
       
    }
    img{
        width: 100%;
        height: 30%;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 500;
    }
    p{
    
        font-family: 'Poppins', sans-serif;
        font-weight: larger;
        font-size: 500;
    }
    
    button{
        color: #3363ff;
        background-color: #e6ecff;
        padding: 10px;
        width: 80%;
        margin: 10px 20px 70px;
    }
}
@media only screen and (min-width : 1441px) {
    .mother-card{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 35px;
        flex-wrap: wrap;
        height: 70vh;
    }
    .card{
        width: 80%;
        background-color: #f5f5f5;
        height: auto;
       
       
    }
    img{
        width: 100%;
        height: 30%;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: xx-large;
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: xx-large;
    }
    
    button{
        color: #3363ff;
        background-color: #e6ecff;
        padding: 10px ;
        width: 80%;
        margin: 10px 40px 50px;
    }
}